/* start global rules */

:root{
    --primary-theme-color: #ecfdff;
    --secondary-theme-color: #ff3368;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}

/* end global rules */
/*start header*/

header{
    position: relative;
}

header .phone-nav{
    display: none;
    border: 0px solid;
    background-color: transparent;
}

header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-bar .links .parent-ul{
    list-style: none;
    display: flex;
}

header .nav-bar .links .parent-ul .parent-li{
    padding:25px;
    cursor: pointer;
}

header .nav-bar .links .parent-ul .parent-li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

header .nav-bar .links .parent-ul .drop-down .main::after{
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: black transparent transparent transparent;
    margin-left: 6px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu {
    position: relative;
    top: 17px;
    transition: all 0.2s ease-in-out;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
    transform: scaleY(0);
    position: absolute;
    z-index: 1;
    list-style: none;
    padding: 0;
    width: 158px;
    background-color: var(--secondary-theme-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li{
    padding: 8px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li a{
    color: white;
}

header .nav-bar .links .parent-ul .parent-li:hover > .drop-down-menu ul{
    transform: scaleY(1);
}

header .nav-bar .icons a{
    position: relative;
    text-decoration: none;
    color: black;
    padding: 12px;
}

header .nav-bar .icons a span{
    width: 14px;
    position: absolute;
    background-color: var(--secondary-theme-color);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    top: 5px;
}

header .search{
    width: 83%;
    position: absolute;
    display: none;
}

header .search form{
    background-color: var(--secondary-theme-color);
}
header .search input{
    width: 98%;
    background-color: var(--secondary-theme-color);
    border: 0px solid;
    padding: 10px;
}

header .search input::placeholder{
    color: white;
}

header .search input , select , textarea{
    color: white;
}
header .search input:focus{
    outline: none;
}

header .search form i{
    color: white;
    cursor: pointer;
}

/* small screen */
@media (max-width:991px){
    header .phone-nav{
        display: inline-block;
        cursor: pointer;
    }
    .container{
        padding: 29px 0;
        width: 70%;
    }
    header .nav-bar .links{
        position: absolute;
        width: 70%;       
    }
    header .nav-bar .links .parent-ul{
        display: none;
        position: absolute;
        padding: 0;
        width: 100%;
        background-color: #eee;
        border-radius: 5px;
    }
    header .nav-bar .links .parent-ul .parent-li{
        padding: 14px;
    }
    header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
        width: 100%;
    }

    header .nav-bar .icons a{
        padding: 5px;
    }
}

/*end header*/