/* start global rules */

:root{
    --primary-theme-color: #ecfdff;
    --secondary-theme-color: #ff3368;
}

body.dark-mode{
    --primary-theme-color: #1e1e1e;
    --secondary-theme-color: #333;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}

/* end global rules */
/*start dark mode*/
.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}

body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

body.dark-mode a {
    color: #ddd;
}


body.dark-mode .FeaturedCategory .uppertitle h2{
    color: white;
}
body.dark-mode .shop-summary,
body.dark-mode .item-box{
    background-color: #1e1e1e;
    color: #f1f1f1;
    border-color: #333;
}

body.dark-mode .shop-content .item-box .favo{
    color: white;
}


/*end dark mode*/
/*start header*/

header{
    position: relative;
    background-color: var(--primary-theme-color);
}

header .phone-nav{
    display: none;
    border: 0px solid;
    background-color: transparent;
}

header .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-bar img{
    width: 140px;
}

header .nav-bar .links .parent-ul{
    list-style: none;
    display: flex;
}

header .nav-bar .links .parent-ul .parent-li{
    padding:25px;
    cursor: pointer;
}

header .nav-bar .links .parent-ul .parent-li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

header .nav-bar .links .parent-ul .drop-down .main::after{
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: black transparent transparent transparent;
    margin-left: 6px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu {
    position: relative;
    top: 17px;
    transition: all 0.2s ease-in-out;
}

header a .disabled{
    display: none;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
    transform: scaleY(0);
    position: absolute;
    z-index: 1;
    list-style: none;
    padding: 0;
    width: 158px;
    background-color: var(--secondary-theme-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

header .nav-bar .links .parent-ul .parent-li:hover > .drop-down-menu ul {
    transform: scaleY(1);
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li{
    padding: 8px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li a{
    color: white;
}

body.dark-mode header .nav-bar .links .parent-ul li a{
    color: white;
}

body.dark-mode header .nav-bar .links .parent-ul .drop-down .main::after {
    border-color: #f1f1f1 transparent transparent transparent;
}

header .nav-bar .icons a{
    position: relative;
    text-decoration: none;
    color: black;
    padding: 12px;
}

body.dark-mode header .nav-bar .icons a{
    color: white;
}

header .nav-bar .icons a span{
    width: 14px;
    position: absolute;
    background-color: var(--secondary-theme-color);
    color: white;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    top: 5px;
}

header .search{
    width: 83%;
    position: absolute;
    display: none;
    z-index: 9;
}

header .search form{
    background-color: var(--secondary-theme-color);
}
header .search input{
    width: 98%;
    background-color: var(--secondary-theme-color);
    border: 0px solid;
    padding: 10px;
}

header .search input::placeholder{
    color: white;
}

header .search input , select , textarea{
    color: white;
}
header .search input:focus{
    outline: none;
}

header .search form i{
    color: white;
    cursor: pointer;
}



/* small screen */
@media (max-width:991px){
    header .phone-nav{
        display: inline-block;
        cursor: pointer;
    }

    body.dark-mode header .phone-nav{
        color: white;
    }
    .container{
        padding: 29px 0;
        width: 70%;
    }
    header .nav-bar .links{
        position: absolute;
        width: 70%;       
    }
    header .nav-bar .links .parent-ul{
        display: none;
        position: absolute;
        padding: 0;
        width: 100%;
        background-color: #eee;
        border-radius: 5px;
        z-index: 9;
    }

    body.dark-mode header .nav-bar .links .parent-ul{
        background-color: #121212;
    }
    header .nav-bar .links .parent-ul .parent-li{
        padding: 14px;
    }
    header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
        width: 100%;
    }

    header .nav-bar .icons a{
        padding: 5px;
    }
}

/*end header*/
/*start banner*/

.banner{
    position: relative;
    background-color: var(--primary-theme-color);
    overflow: hidden;
    background-size:cover ;
    padding: 115px 0;
}

.banner .innerArea{
    display: flex;
}

.banner .content{
    width: 40%;
}

.banner img {
    width: 60%;
}

.banner .innerArea .contentBoxArea h2{
    margin-top: 0;
    font-size: 70px;
}

body.dark-mode .banner .innerArea .contentBoxArea h2{
    color: white;
}

.banner .innerArea .contentBoxArea p{
    font-weight: 300;
    margin-bottom: 60px;
}

body.dark-mode .banner .innerArea .contentBoxArea p{
    color: white;
}

.banner .innerArea .contentBoxArea a{
    text-decoration: none;
    background-color: var(--secondary-theme-color);
    color: white;
    padding: 20px 53px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.banner .innerArea .contentBoxArea a:hover{
    background-color: #ffba00 ;
}

/*small screen*/
@media(max-width:991px){
    .banner img {
        display: none;
    }

    .banner .innerArea{
        justify-content: center;
    }
    .banner .content{
        width: 100%;
    }
}

/*end banner*/
/* start Featured Category*/

.FeaturedCategory{
    padding-top: 100px;
}

.FeaturedCategory .uppertitle{
    display: flex;
    justify-content: center;
}

.FeaturedCategory .uppertitle h2{
    font-size: 35px;
}

.FeaturedCategory .content{
    display: flex;
    
}

.FeaturedCategory .content .inner-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.FeaturedCategory .content .inner-block .parent-box{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.FeaturedCategory .content .inner-block .c1{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.FeaturedCategory .content .inner-block .c2{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.FeaturedCategory .content .inner-block .c3{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.FeaturedCategory .content .inner-block .c4{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.FeaturedCategory .content .inner-block .parent-box .content-box{
    padding: 50px;
    background-color: var(--primary-theme-color);
    margin-bottom: 30px;
    position: relative;
    height: 400px;
}

.FeaturedCategory .content .inner-block .parent-box .content-box p{
    font-weight: 300;
}
.FeaturedCategory .content .inner-block .parent-box .content-box h3{
    position: relative;
    font-size: 22px;
    z-index: 9;
}
.FeaturedCategory .content .inner-block .parent-box .content-box a{
    text-decoration: none;
    color: var(--secondary-theme-color);
    position: absolute;
    bottom: 0;
    z-index: 9;
    transition: all 0.3s ease-in-out;
}

.FeaturedCategory .content .inner-block .parent-box .content-box a:hover{
    color: #721931;
}

.FeaturedCategory .content .inner-block .parent-box .content-box img{
    width: 183px;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media(max-width:991px){
    .FeaturedCategory .content .inner-block .parent-box{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .FeaturedCategory .content .inner-block .parent-box .content-box img{
        width: 123px;
    }
}

/* end Featured Category*/
/* start shop summary */

.shop-summary{
    padding: 100px 0;
}

.shop-summary .section-title{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 25px;
    flex-wrap: wrap;
}

.shop-summary .section-title h2{
    font-size: 45px;
    font-weight: 900;
}

.shop-summary .section-title p{
    font-size: 19px;
    font-weight: 800;
    color: gray;
}

.shop-summary .shop-content{
    display: flex;
    justify-content: space-between;
}

.shop-content{
    display: flex;
    flex-wrap: wrap;
}
.shop-content .item-box {
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.shop-content .item-box a{
    text-decoration: none;
}

.shop-content .item-box .useract{
    display: flex;
    justify-content: space-between;
}

.shop-content .item-box .add-to-cart{
    color:#ff3368;
}

.shop-content .item-box .favo{
    color: black;
}

.shop-content .item-box:hover {
    box-shadow: 0px 0px 20px #e9e5e5;
}

.shop-content .item-box img{
    max-width: 250px;
}

/* end shop summary */
/* start video section */

.promo{
    padding: 40px 0;
}

.promo .title{
    text-align: center;
}
.promo .title{
    font-size: 35px;
}

.promo-items{
    display: flex;
    gap: 20px;
}
.promo-items .video{
    display: flex;
    align-items: center;
}
.promo-items .video .video-container{
    display: flex;
    justify-content: center;
}

.promo-items video{
    width: 95%;
}

.promo .elements{
    padding: 10px 0 0 0;
}

.promo .elements:hover > h3{
    color: #ff3368;
}

.promo .elements h3{
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
}

/*small screen*/

@media(max-width:991px){
    .promo-items{
        flex-direction: column;
    }
}

/* end video section*/
/* start sale part(Ahmed) */
.sale-section {
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: var(--primary-theme-color);
  }
  
  .furniture-img {
    height: 299px;
    width: 299px;
    margin-right: 60px;
  }
  
  .sale-details h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .countdown {
    display: flex;
    gap: 15px;
    margin: 15px 0;
  }
  
  .countdown div {
    text-align: center;
    font-weight: bold;
  }
  
  .countdown span {
    display: block;
    font-size: 20px;
    color: red;
  }
  
  .sale-details input {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
  }
  
  .sale-details button {
    padding: 8px 12px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
  }

  @media(max-width:991px){
    .sale-section{
        flex-direction: column;
    }
  }

/* end sale part */
/* start best sellers(Ahmed) */
  
  .best-sellers {
    padding: 90px 0;
    /* margin-left: 50px;
    margin-right: 50px;
    background: white; */
  }
  
  .best-sellers h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .shop-link {
    float: right;
    font-size: 14px;
    color: gray;
    cursor: pointer;
  }
  
  .products {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .product {
    background: #fafafa;
    padding: 10px;
    text-align: center;
  }

  body.dark-mode .product{
    background-color: #333;
  }
  
  .product img {
    width: 200px;
    height: 200px;
  }
/* end best sellers*/
/* start Subscribe section (Mohammed) */
.subscribe-section {
    background-repeat: no-repeat;
    background-color:white;
    background-image:url("../imgs/subscribe_area.png");
    background-position: top left, top right;
    background-size: cover;
    padding: 120px 0px;
    margin: 80px 0;
  }


.content{
  display: flex;
  justify-content: center;
}


.subscribe-section .content-box{  
text-align: center;
}

.small-text {
    color: #e94e77;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
  
  .main-heading {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 70px;
  }
  

  .form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  input[type="email"] {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
  }
  
  .subscribe-section button {
    background-color: #e94e77;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
/*end Subscribe section (Mohammed)*/
/* start footer (Mohammed) */
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.footer-column {
    margin: 0px 30px;
}

.footer-column h3 {
    font-weight:bold;
    margin-bottom: 25px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 20px;
    color: #555;
}

body .dark-mode .footer-column ul li a{
    color: #ddd;
}

.footer-column ul li a{
    text-decoration: none;
    color: #ff3368;
    transition: all 0.3s ease-in-out;
}

.footer-column ul li a:hover{
    color: #91263a;
}

.footer-column.newsletter p {
    margin: 5px 0;
    color: #777;
}

.footer-column form {
    display: flex;
    margin-top: 10px;
}

.footer-column input[type="email"] {
    padding: 8px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.footer-column button {
    background-color: #ec3b5a;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
  
/* end footer (Mohammed) */