
:root{
  --primary-theme-color:#f5f0e9d4;
  --secondary-theme-color: black;
}
/*القواعد العامة (Global Rules)*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body{
  font-family: "Poppins", sans-serif;
  
}

.container{
  width: 85%;
  margin: 0 auto;
  padding: 0 15px;
}

/* end global rules */
/*start header*/

header{
  position: relative;
  background-color: var(--primary-theme-color);
}

header .phone-nav{
  display: none;
  border: 0px solid;
  background-color: transparent;
}

header .nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-bar img{
  width: 140px;
}

header .nav-bar .links .parent-ul{
  list-style: none;
  display: flex;
}

header .nav-bar .links .parent-ul .parent-li{
  padding:25px;
  cursor: pointer;
}

header .nav-bar .links .parent-ul .parent-li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

header .nav-bar .links .parent-ul .drop-down .main::after{
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border: 5px solid;
  border-color: black transparent transparent transparent;
  margin-left: 6px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu {
  position: relative;
  top: 17px;
  transition: all 0.2s ease-in-out;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
  transform: scaleY(0);
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  width: 158px;
  background-color: var(--secondary-theme-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li{
  padding: 8px;
}

header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul li a{
  color: white;
}

header .nav-bar .links .parent-ul .parent-li:hover > .drop-down-menu ul{
  transform: scaleY(1);
}

header .nav-bar .icons a{
  position: relative;
  text-decoration: none;
  color: black;
  padding: 12px;
}

header .nav-bar .icons a span{
  width: 14px;
  position: absolute;
  background-color: var(--secondary-theme-color);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  top: 5px;
}

header .search{
  width: 83%;
  position: absolute;
  display: none;
  z-index: 9;
}

header .search form{
  background-color: var(--secondary-theme-color);
}
header .search input{
  width: 98%;
  background-color: var(--secondary-theme-color);
  border: 0px solid;
  padding: 10px;
}

header .search input::placeholder{
  color: white;
}

header .search input , select , textarea{
  color: white;
}
header .search input:focus{
  outline: none;
}

header .search form i{
  color: white;
  cursor: pointer;
}

/* small screen */
@media (max-width:991px){
  header .phone-nav{
      display: inline-block;
      cursor: pointer;
  }
  .container{
      padding: 29px 0;
      width: 70%;
  }
  header .nav-bar .links{
      position: absolute;
      width: 70%;       
  }
  header .nav-bar .links .parent-ul{
      display: none;
      position: absolute;
      padding: 0;
      width: 100%;
      background-color: #eee;
      border-radius: 5px;
      z-index: 9;
  }
  header .nav-bar .links .parent-ul .parent-li{
      padding: 14px;
  }
  header .nav-bar .links .parent-ul .drop-down .drop-down-menu ul{
      width: 100%;
  }

  header .nav-bar .icons a{
      padding: 5px;
  }
}


div.content{
  display: flex;
  justify-content: left;
  justify-items: center;
  justify-content: space-around;
  padding: 70px;
  width: 100%;
  height: 500px;
}

.banner-img{
  width: 229px;
  height: 229px;
  position: relative;
  top: 70px;
}

header,div.content{
  background-color:#f5f0e9d4;
}

.box .box-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}



span{
  font-family:system-ui, -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
   'Helvetica Neue', sans-serif;
}
header{
  justify-content: space-around;
  justify-items: center;
}








/* login*/






.login-container {
  background:#f5f0e9d4;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(92, 20, 20, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 60px auto 0;
  position: relative;
  top: 90px;
  left: 0;
}


  

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px  solid #d7cac8 ;
    border-radius: 8px;
    cursor: pointer;
   
  }

  .login-container button {
    width: 100%;
    padding: 10px;
    background-color:black;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
   .login-container a :hover{
    background-color: #ccc;
  }


  .login-container .links  a{
  
    color: black;
    font-size: 15px;
    margin-top: 10px;
    
  }
  
  .login-container .links  .Register{
   display: flex;
  
    
  }
  .login-container .links  .Register a{
     position: relative;
     top: 5px;
     left:10px;
  }


.login-container .links a{
    text-decoration: underline;

}
.login-container .links a:hover{
  color: rgb(121, 135, 29);
 
}
.checkbox-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10x;
  width: 16px;
  height: 16px;
}



  .social-login {
    margin-top: 20px;
    text-align: center;
  }
  .social-login a{
    text-decoration:none ;
  }
  .social-login button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ccc;
    background: white;
    color: #333;
  } 
  .social-login img {
    width: 20px;
    height: 20px;
  }


 /**/
  footer{
    margin-top: 200px;
}

nav{

  position: relative;
  top:80px;
  left:0px;
 
}

.products{
  position: relative;
  top:0px;
  left:-40px;
  color:#ffffff;

}

nav  ul  li  a {
  text-decoration: none;
  color: #503e3e8d;
  
}
nav ul li  a:hover{
  color: rgba(213, 183, 101, 0.904);
}

li {
  list-style: none;
  gap: 5px;
 
}

ul{
  position: relative;
  left:-40px;

}
h6{
text-decoration: underline;
color: rgba(205, 190, 148, 0.904);
}
.footer {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
  font-family: sans-serif;
  color: #555;
}

.subscribe {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.subscribe input {
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 8px 0 0 8px;
  outline: none;
  min-width: 250px;
}

.subscribe button {
  padding: 12px 20px;
  background-color: rgba(0,0,0);
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.subscribe button:hover {
  background-color:#f5f0e9d4 ;
}

.heart {
  color: black;
}

.footer a {
  color:blck;
  text-decoration: none;
}

.social-icons { 
  margin-top: 20px;
}

.social-icons a {
  color: #333;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f5f0e9d4;
}
